.iconContainer {
  --icon-color-light: #333; /* Default color for light mode */
}

@media (prefers-color-scheme: dark) {
  .iconContainer {
    --icon-color-light: #ccc; /* Adjust color for dark mode */
  }
}

.iconContainer {
  display: inline-block;
  cursor: pointer;
}

.icon {
  fill: var(--icon-color-light);
  width: 20px;
  height: 20px;
}
